@model IEnumerable<Signup03.Models.TblSignup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.CMobile)*@
                手機號碼
            </th>
            <th>
                姓名
            </th>
            <th>
                Email
            </th>
            <th>
                創建時間
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCreateDt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
